/*variables*/

$color-primary:#9356dc;
$color-secondary:#ff79da;
$color-tertiary:#99e2d0;
$font-fam-title: "shrikhand", cursive, sans-serif;
$font-fam-txt: "roboto", sans-serif;

/*mixins*/
@mixin box-shadow {
    box-shadow: 3px 3px 15px rgba(0,0,0,.2);
}

@mixin box-shadow-hover {
    box-shadow: 5px 5px 15px rgba(0,0,0,.35) ;
    transition-duration: 400ms;
}

@mixin btn-gradient {
    background: linear-gradient(to top left, $color-primary, $color-secondary);
}

@mixin btn-gradient-hover {
    $colour1: lighten($color-primary,3%);
    $colour2: lighten($color-secondary,3%);
    background: linear-gradient(to top left, $colour1, $colour2);
}

@mixin heart-gradient {
    background:-moz-linear-gradient(to bottom, $color-primary, $color-secondary); 
    background: -webkit-linear-gradient(to bottom, $color-primary, $color-secondary); 
    background: linear-gradient(to bottom, $color-primary, $color-secondary);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color:transparent;
}

@mixin heart-gradient-hover {
    font-size: 22px;
    transition-duration: 800ms;
}

/*main properties*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    max-width: 767px;
    min-width: 320px;
    margin: auto;
}

h1{
    font-family: $font-fam-title
}

h2{
    font-size: 22px;
}
p, h2, h3, input, li{
    font-family: $font-fam-txt
}

a{
    text-decoration: none;
    color: #000;
}

/*index*/

/*header*/
.header{
    &__title{
        margin: 10px 0;
        text-align: center;
        font-size: 2rem;
        font-weight: lighter;
    }
}

/*search & explore*/
#explore{
    background-color: #f2f2f2;
    height: 350px;
    margin-bottom: 50px;
}

.location{
    display: flex;
    justify-content: center;
    height: 55px;
    padding: 17px;
    background-color: darken($color: #f2f2f2, $amount: 5%);
    & i{
        position: relative;
        left: -15px;
    }
    &__txt{
        width: fit-content;
        font-weight: bold;
    }
}

.explore{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 295px;
    padding: 40px 0 55px 0;
    text-align: center;
    &__title{
        padding: 0 50px;
        font-weight: bolder;
    }
    &__txt{
        padding: 0 20px 15px 20px;
        font-size: 18px;
        color: lighten($color: #000, $amount: 50%);
    }
    &__btn{
        height: 50px;
        padding: 16px 20px 15px 20px;
        border: none;
        border-radius: 25px;
        @include box-shadow;
        @include btn-gradient;
        color: #fff;
        font-weight: 500;
        cursor: pointer;
        &:hover{
            @include btn-gradient-hover;
            @include box-shadow-hover;
        }
    }
}

/*"fonctionnement"*/
#operation{
    height: 350px;
    margin-bottom: 60px;
}

.operation{
    &__title{
        height: 60px;
        margin-left: 20px;
    }
    &__list{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 290px;
    }
    &__item{
        display: flex;
        align-items: center;
        height: 75px;
        margin: 0 25px;
        border-radius: 30px;
        background-color: #f2f2f2;
        @include box-shadow;
        &:hover{
            background-color: lighten($color-primary, 35%);
            @include box-shadow-hover;
            & .operation__icon {
                color: $color-primary;
                transition: 400ms;
            }
        }
    }
    &__num{
        position: relative;
        left: -0.70em;
        width: 25px;
        height: 25px;
        line-height: 25px;
        background-color: $color-primary;
        border-radius: 50%;
        font-size: 14px;
        color: #fff;
        text-align: center;
    }
    &__icon{
        display: inline-block;
        vertical-align: middle;
        line-height: 25px;
        width: 25px;
        height: 25px;
        margin: 0 15px 0 15px;
        font-size: 20px;
    }
    &__txt{
        font-size: 15px;
        font-weight: bold;
    }
}

/*restaurants*/
#restaurants{
    display: flex;
    flex-direction: column;
    padding: 50px 25px;
    background-color: #f2f2f2;
}

.restaurants {
    &__title{
        margin-bottom: 25px;
    }
}

.card{
    display: flex;
    flex-direction: column;
    min-width: 325px;
    max-width: 400px;
    border-radius: 15px;
    @include box-shadow;
    overflow: hidden;
    margin: 0 auto 18px auto;
    &:hover {
        @include box-shadow-hover;
    }
    &__image{
        height: 170px;
        position: relative;
        overflow: hidden;
        &__img{
            width: 100%;
            position: absolute;
            bottom: 0;
        }
        &__overtext{
            position: absolute;
            top: 8%;
            right: 5%;
            padding: 6px 12px;
            background-color: $color-tertiary;
            border-radius: 3px;
            font-size: 14px;
            font-weight: bold;
            color: darken($color: $color-tertiary, $amount: 40%);
        }
    }
    &__info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 10px;
        background-color: #fff;
        color: #000;
        &__title {
            font-size: 16px;
            margin-bottom: 5px;
        }
        &__text {
            font-size: 16px;
        }
        &__icon {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 10px;
            width: 28px;
            height: 28px;
            font-size: 22px;
            position: relative;
            z-index: 1;
            overflow: hidden;
            & .empty-heart {
                position: absolute;
                z-index: 2;
                transform: scale(1.1);
                transition-property: transform;
            }
            & .filled-heart {
                position: absolute;
                z-index: 3;
                font-size: 0;
            }
            &:hover {
                & .empty-heart {
                    color: transparent;
                    transition: all 1.6s;
                }
                & .filled-heart {
                    @include heart-gradient;
                    @include heart-gradient-hover()
                }
            }
        }
    }
}

/*footer*/
#footer{
    background-color: lighten($color: #000, $amount: 20%);
    color: #fff;
    padding: 25px;
}

.footer{
    &__title{
        font-family: $font-fam-title;
        font-size: 17px;
        font-weight: 500;
        margin-bottom: 25px;
    }
    &__list{
        list-style: none;
        &__item{
            margin: 10px 0;
            font-size: 15px;
            font-weight: 500;
            &:hover{
                text-shadow: 2px 2px 5px rgba(#fff,0.4);
            }
            & i{
                width: 25px;
                font-size: 14px;
            }
            & a{
            color: #fff;
            text-decoration: none;
            }
        }
    }
}
