/*variables*/

$font-fam-title: "shrikhand", cursive, sans-serif;
$font-fam-txt: "roboto", sans-serif;
$color-primary:#9356dc;
$color-secondary:#ff79da;
$color-tertiary:#99e2d0;


/*mixins*/

@mixin box-shadow {
    box-shadow: 3px 3px 15px rgba(0,0,0,.2);
    transition-duration: 600ms;
}

@mixin box-shadow-hover {
    box-shadow: 5px 5px 15px rgba(0,0,0,.35) ;
}

@mixin btn {
    height: 50px;
    width: 215px;
    padding: 16px 20px 15px 20px;
    border: none;
    border-radius: 25px;
    box-shadow: 3px 3px 15px rgba(0,0,0,.25);
    color: #fff;
    font-weight: 500;
    cursor: pointer;
}

@mixin btn-gradient {
    background: linear-gradient(to top left, $color-primary, $color-secondary);
    transition-duration: 600ms;
}

@mixin btn-gradient-hover {
    $colour1: lighten($color-primary,3%);
    $colour2: lighten($color-secondary,3%);
    background: linear-gradient(to top left, $colour1, $colour2);
}

@mixin heart-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    width: 28px;
    height: 28px;
    font-size: 22px;
    position: relative;
    z-index: 1;
    overflow: hidden;    
}

@mixin empty-heart {
    position: absolute;
    z-index: 2;
    transform: scale(1.1);
    transition-property: transform;
    transition-duration: 800ms;
}

@mixin filled-heart {
    position: absolute;
    z-index: 3;
    font-size: 0;
}

@mixin heart-gradient {
    background:-moz-linear-gradient(to bottom, $color-primary, $color-secondary); 
    background: -webkit-linear-gradient(to bottom, $color-primary, $color-secondary); 
    background: linear-gradient(to bottom, $color-primary, $color-secondary);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color:transparent;
    transition-duration: 800ms;
}

@mixin heart-gradient-hover {
    font-size: 22px;
}


/*keyframes*/

@keyframes splash {
    from {
        -webkit-transform: translateY(10px);  
        transform: translateY(10px);
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    to {
        -webkit-transform: translateY(10px);
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes loader {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes loader-text {
    from {
        color: $color-primary;
    }
    50% {
        color: $color-secondary;
    }
    to {
        color: $color-primary;
    }
}

@keyframes loader-circles {
    from {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    25% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    50% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    75% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }
    to {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
/*main properties*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    max-width: 767px;
    min-width: 320px;
    margin: auto;
}

h1 {
    font-family: $font-fam-title
}

h2 {
    font-size: 22px;
}

p, h2, h3, input, li {
    font-family: $font-fam-txt
}

a {
    text-decoration: none;
    color: #000;
}


/*index*/

/*loader*/

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: #fff;
    animation: loader 3s linear 3s normal forwards;
    
    &__logo {
        position: absolute;
        top: 45%;
        font-family: $font-fam-title;
        font-size: 2rem;
        color: $color-primary;

        & span {
            &:nth-child(1) {
                animation: loader-text 0.6s linear normal forwards;
            }

            &:nth-child(2) {
                animation: loader-text 0.6s linear 0.3s normal forwards;
            }

            &:nth-child(3) {
                animation: loader-text 0.6s linear 0.6s normal forwards;
            }

            &:nth-child(4) {
                animation: loader-text 0.6s linear 0.9s normal forwards;
            }

            &:nth-child(5) {
                animation: loader-text 0.6s linear 1.2s normal forwards;
            }

            &:nth-child(6) {
                animation: loader-text 0.6s linear 1.5s normal forwards;
            }

            &:nth-child(7) {
                animation: loader-text 0.6s linear 1.8s normal forwards;
            }

            &:nth-child(8) {
                animation: loader-text 0.6s linear 2.1s normal forwards;
            }
        }
    }

    &__circles {
        position: absolute;
        bottom: 45%;
        display: flex;
        justify-content: space-around;
        width: 100px;
    }

    &__circle {
        &:nth-child(1) {
            width: 30px;
            height: 30px;
            border-radius: 15px;
            background-color: $color-primary;
            animation: loader-circles 0.9s linear normal forwards;
        }

        &:nth-child(2) {
            width: 30px;
            height: 30px;
            border-radius: 15px;
            background-color: $color-secondary;
            animation: loader-circles 0.9s linear 0.8s normal forwards;
        }

        &:nth-child(3) {
            width: 30px;
            height: 30px;
            border-radius: 15px;
            background-color: $color-tertiary;
            animation: loader-circles 0.9s linear 1.6s normal forwards;
        }
    }
}

/*header*/

.header {
    &__title {
        width: 100%;
        margin: 15px 0;
        text-align: center;
        font-size: 1.8rem;
        font-weight: lighter;
    }
}

/*search & explore*/

#explore {
    background-color: #f2f2f2;
    height: 350px;
    margin-bottom: 50px;
}

.location {
    display: flex;
    justify-content: center;
    height: 55px;
    padding: 17px;
    background-color: darken($color: #f2f2f2, $amount: 5%);

    & i {
        position: relative;
        left: -15px;
    }

    &__txt {
        width: fit-content;
        font-weight: bold;
    }
}

.explore {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 295px;
    padding: 40px 0 55px 0;
    text-align: center;

    &__title {
        padding: 0 50px;
        font-weight: bolder;
    }

    &__txt {
        padding: 0 20px 15px 20px;
        font-size: 18px;
        color: lighten(#000000, 50%);
    }

    &__btn {
        @include btn;
        @include btn-gradient;
        @include box-shadow;

        &:hover {
            @include btn-gradient-hover;
            @include box-shadow-hover;
        }
    }
}

/*"fonctionnement"*/

#operation {
    height: 350px;
    margin-bottom: 60px;
}

.operation {
    &__title {
        height: 60px;
        margin-left: 20px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 290px;
    }

    &__item {
        display: flex;
        align-items: center;
        position: relative;
        height: 75px;
        margin: 0 25px;
        padding: 0 25px;
        border-radius: 30px;
        background-color: #f2f2f2;
        @include box-shadow;

        &:hover {
            background-color: lighten($color-primary, 34%);
            @include box-shadow-hover;

            & .operation__icon {
                color: $color-primary;
                transition: 400ms;
            }
        }
    }

    &__num {
        position: absolute;
        left: -12.5px;
        width: 25px;
        height: 25px;
        line-height: 25px;
        background-color: $color-primary;
        border-radius: 50%;
        font-size: 14px;
        color: #fff;
        text-align: center;
    }

    &__icon {
        display: inline-block;
        vertical-align: middle;
        line-height: 25px;
        width: 25px;
        height: 25px;
        margin: 0 15px 0 15px;
        font-size: 20px;
    }

    &__txt {
        font-size: 15px;
        font-weight: bold;
    }
}

/*restaurants*/

#restaurants {
    display: flex;
    flex-direction: column;
    padding: 50px 25px;
    background-color: #f2f2f2;
}

.restaurants {
    &__title {
        margin-bottom: 25px;
    }
}

.card {
    display: flex;
    flex-direction: column;
    min-width: 270px;
    max-width: 400px;
    border-radius: 15px;
    @include box-shadow;
    overflow: hidden;
    margin: 0 auto 20px auto;

    &:hover {
        @include box-shadow-hover;
    }

    &__image {
        height: 170px;
        position: relative;
        overflow: hidden;

        &__img {
            width: 100%;
            position: absolute;
            bottom: 0;
        }

        &__overtext {
            position: absolute;
            top: 8%;
            right: 5%;
            padding: 6px 12px;
            background-color: $color-tertiary;
            border-radius: 3px;
            font-size: 14px;
            font-weight: bold;
            color: darken($color: $color-tertiary, $amount: 40%);
        }
    }

    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 10px;
        background-color: #fff;
        color: #000;

        &__title {
            font-size: 16px;
            margin-bottom: 5px;
        }

        &__text {
            font-size: 16px;
        }

        &__icon {
            @include heart-icon;

            & .empty-heart {
                @include empty-heart;
            }

            & .filled-heart {
                @include filled-heart;
            }

            &:hover {               
                & .empty-heart {
                    color: transparent;
                    transition: all 1.6s;
                }

                & .filled-heart {
                    @include heart-gradient;
                    @include heart-gradient-hover;
                }
            }
        }
    }
}

/*footer*/

#footer {
    background-color: lighten(#000000, 20%);
    color: #fff;
    padding: 25px;
}

.footer{
    &__title {
        font-family: $font-fam-title;
        font-size: 17px;
        font-weight: 500;
        margin-bottom: 25px;
    }

    &__list {
        list-style: none;

        &__item {
            margin: 10px 0;
            font-size: 15px;
            font-weight: 500;

            &:hover {
                text-shadow: 2px 2px 5px rgba(#fff,0.4);
            }

            & i {
                width: 25px;
                font-size: 14px;
            }

            & a {
            color: #fff;
            text-decoration: none;
            }
        }
    }
}

/*Menus*/

/*header*/

#header {
    position: relative;
}

.back {
    position: absolute;
    display: flex;
    align-items: center;
    height: 100%;

    &__icon {
        margin-left: 25px;
        font-size: 20px;
    }
}

/*image*/

.banner {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 245px;
    overflow: hidden;

    &__img {
        width: 100%;
    }
}

/*menu dishes*/

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    margin-top: -40px;
    padding: 35px 15px 60px 15px;
    border-radius: 40px 40px 0 0;
    background-color: #f2f2f2;
    
    &__title {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 35px;
        padding-left: 10px;
        font-weight: lighter;

        & h2 {
        font-family: $font-fam-title;
        font-weight: lighter;
        font-size: 1.7rem
        }

        &__icon {
            @include heart-icon;

            & .empty-heart {
                @include empty-heart;
            }

            & .filled-heart {
                @include filled-heart;
            }

            &:hover {
                & .empty-heart {
                    color: transparent;
                    transition: all 1.6s;
                }

                & .filled-heart {
                    @include heart-gradient;
                    @include heart-gradient-hover;
                }
            }
        }
    }

    &__dishes {
        font-family: $font-fam-txt;
        width: 100%;
        margin-bottom: 35px;
        animation: splash 1100ms normal backwards ease-in-out;
        
        &:nth-child(2) {
            animation-delay: 0.3s;
        }
    
        &:nth-child(3) {
            animation-delay: 0.6s;
        }
    
        &:nth-child(4) {
            animation-delay: 0.9s;
        }

        &__title {
            width: 40px;
            margin: 0 0 15px 10px;
            padding-bottom: 5px;
            border-bottom: 3px $color-tertiary solid;
            text-transform: uppercase;
            font-size: 1rem;
            font-weight: lighter;
        }
    }

    &__btn {
        @include btn;
        @include btn-gradient;
        @include box-shadow;

        &:hover {
            @include btn-gradient-hover;
            @include box-shadow-hover;
        }
    }
}

.dish {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    margin: 15px 5px;
    padding: 10px 0 10px 12px;
    background-color: #fff;
    border-radius: 15px;
    @include box-shadow;

    &__info {
        white-space: nowrap;
        overflow: hidden;
        &__title {
            font-size: 1.1rem;
            padding-bottom: 4px;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &__txt {
            font-size: 0.9rem;
            padding-top: 3px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &__price {
        display: flex;
        align-items: flex-end;
        height: 100%;
        padding: 0 20px 3px 20px;
        font-size: 0.9rem;
        font-weight: bold;
    }

    &__check {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70px;
        height: 70px;
        right: -70px;
        border-radius: 0 15px 15px 0;
        background-color: $color-tertiary;
        color: #fff;
        font-size: 1.5rem;
    }

    &:hover {
        @include box-shadow-hover;
        padding-right: 70px;

        & .dish__check {
            right: 0;
            transition-duration: 600ms;
        }
    }
}


/*tablet design*/

@media screen and (min-width:768px) and (max-width:991px) {
    
/*index*/

    body {
        min-width: initial;
        max-width: initial;
        width: 100%;
    }

    #operation {
        height: auto;
    }

    .operation {
        &__list {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            height: auto;
        }

        &__item {
            width: 200px;
        }
    }

    .restaurants {
        &__cards{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }

    .card {
        min-width: initial;
        max-width: initial;
        width: 40%;
        margin: 0 0 30px 0;
    }

    /*menus*/

    .banner {
        height: 350px;
        margin: 20px 40px 40px 40px;
        border-radius: 30px;
    }

    .menu {
        margin-top: 0;
        padding-left: 40px;
        padding-right: 40px;
        border-radius: 0;
        &__dishes {
            &__title {
                font-size: 1.1em;
            }
        }
    }

    .dish {
        &__info {
            &__title {
                font-size: 1.1rem;
            }

            &__txt {
                font-size: 1rem;
            }

        }

        &__price {
            font-size: 1.1rem;
        }
    }
}


/*desktop design*/

@media screen and (min-width:992px) {
        
/*index*/

    body {
        min-width: initial;
        max-width: initial;
        width: 100%;
    }

    #header {
        background-color: #f2f2f2;
        padding: 15px;
        margin-bottom: 15px;
    }

    .header {
        &__title {
            margin: 0;
        }
    }

    main {
        display: flex;
        width: 100%;
    }

    #explore-operation {
        width: 30%;
        margin-left: 15px;
    }

    .operation {
        &__item {
            height: 60px;
        }

        &__title {
            margin-left: 15px;
        }
    }

    #restaurants {
        width: 70%;
        margin: 0 auto;
        padding-top: 15px;
        background-color: initial;
    }

    .restaurants {
        &__cards{
            display: flex;
            flex-wrap: wrap;
        }

        &__title {
            margin-left: 40px;
        }
    }

    .card {
        min-width: initial;
        max-width: initial;
        width: 40%;
        margin-bottom: 40px;

        &__image {
            display: flex;
            justify-content: center;
            height: 220px;
            &__img {
                width: 130%;
            }
        }

        &__info {
            padding: 15px;
        }
    }
    
/*menus*/

    #header {
        display: flex;
        align-items: center;
    }

    .banner {
        height: 400px;
        width: 60%;
        margin-left: 15px;
        border-radius: 40px;
        @include box-shadow;

        &:hover {
            @include box-shadow-hover;
        }

        &__img {
            width: 110%;
        }
    }

    .menu {
        width: 40%;
        margin: 0 15px 15px 15px;
        border-radius: 40px;
    }

}
