/*variables*/
/*mixins*/
/*keyframes*/
@keyframes splash {
  from {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  to {
    -webkit-transform: translateY(10px);
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes loader {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    position: initial;
  }
}
@keyframes loader-text {
  from {
    color: #9356dc;
  }
  50% {
    color: #ff79da;
  }
  to {
    color: #9356dc;
  }
}
@keyframes loader-circles {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  75% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
/*main properties*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 767px;
  min-width: 320px;
  margin: auto;
}

h1 {
  font-family: "shrikhand", cursive, sans-serif;
}

h2 {
  font-size: 22px;
}

p, h2, h3, input, li {
  font-family: "roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

/*index*/
/*loader*/
.loader {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: #fff;
  animation: loader 2.8s ease-out 3s normal forwards;
}
.loader__logo {
  position: absolute;
  top: 35%;
  font-family: "shrikhand", cursive, sans-serif;
  font-size: 2rem;
  color: #9356dc;
}
.loader__logo span:nth-child(1) {
  animation: loader-text 0.6s linear normal forwards;
}
.loader__logo span:nth-child(2) {
  animation: loader-text 0.6s linear 0.3s normal forwards;
}
.loader__logo span:nth-child(3) {
  animation: loader-text 0.6s linear 0.6s normal forwards;
}
.loader__logo span:nth-child(4) {
  animation: loader-text 0.6s linear 0.9s normal forwards;
}
.loader__logo span:nth-child(5) {
  animation: loader-text 0.6s linear 1.2s normal forwards;
}
.loader__logo span:nth-child(6) {
  animation: loader-text 0.6s linear 1.5s normal forwards;
}
.loader__logo span:nth-child(7) {
  animation: loader-text 0.6s linear 1.8s normal forwards;
}
.loader__logo span:nth-child(8) {
  animation: loader-text 0.6s linear 2.1s normal forwards;
}
.loader__circles {
  position: absolute;
  bottom: 45%;
  display: flex;
  justify-content: space-around;
  width: 100px;
}
.loader__circle:nth-child(1) {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #9356dc;
  animation: loader-circles 0.9s linear normal forwards;
}
.loader__circle:nth-child(2) {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #ff79da;
  animation: loader-circles 0.9s linear 0.8s normal forwards;
}
.loader__circle:nth-child(3) {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #99e2d0;
  animation: loader-circles 0.9s linear 1.6s normal forwards;
}

/*header*/
.header__title {
  width: 100%;
  margin: 15px 0;
  text-align: center;
  font-size: 1.8rem;
  font-weight: lighter;
}

/*search & explore*/
#explore {
  background-color: #f2f2f2;
  height: 350px;
  margin-bottom: 50px;
}

.location {
  display: flex;
  justify-content: center;
  height: 55px;
  padding: 17px;
  background-color: #e5e5e5;
}
.location i {
  position: relative;
  left: -15px;
}
.location__txt {
  width: fit-content;
  font-weight: bold;
}

.explore {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 295px;
  padding: 40px 0 55px 0;
  text-align: center;
}
.explore__title {
  padding: 0 50px;
  font-weight: bolder;
}
.explore__txt {
  padding: 0 20px 15px 20px;
  font-size: 18px;
  color: gray;
}
.explore__btn {
  height: 50px;
  width: 215px;
  padding: 16px 20px 15px 20px;
  border: none;
  border-radius: 25px;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.25);
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  background: linear-gradient(to top left, #9356dc, #ff79da);
  transition-duration: 600ms;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
  transition-duration: 600ms;
}
.explore__btn:hover {
  background: linear-gradient(to top left, #9b63df, #ff88de);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.35);
}

/*"fonctionnement"*/
#operation {
  height: 350px;
  margin-bottom: 60px;
}

.operation__title {
  height: 60px;
  margin-left: 20px;
}
.operation__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 290px;
}
.operation__item {
  display: flex;
  align-items: center;
  position: relative;
  height: 75px;
  margin: 0 25px;
  padding: 0 25px;
  border-radius: 30px;
  background-color: #f2f2f2;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
  transition-duration: 600ms;
}
.operation__item:hover {
  background-color: #efe6fa;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.35);
}
.operation__item:hover .operation__icon {
  color: #9356dc;
  transition: 400ms;
}
.operation__num {
  position: absolute;
  left: -12.5px;
  width: 25px;
  height: 25px;
  line-height: 25px;
  background-color: #9356dc;
  border-radius: 50%;
  font-size: 14px;
  color: #fff;
  text-align: center;
}
.operation__icon {
  display: inline-block;
  vertical-align: middle;
  line-height: 25px;
  width: 25px;
  height: 25px;
  margin: 0 15px 0 15px;
  font-size: 20px;
}
.operation__txt {
  font-size: 15px;
  font-weight: bold;
}

/*restaurants*/
#restaurants {
  display: flex;
  flex-direction: column;
  padding: 50px 25px;
  background-color: #f2f2f2;
}

.restaurants__title {
  margin-bottom: 25px;
}

.card {
  display: flex;
  flex-direction: column;
  min-width: 270px;
  max-width: 400px;
  border-radius: 15px;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
  transition-duration: 600ms;
  overflow: hidden;
  margin: 0 auto 20px auto;
}
.card:hover {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.35);
}
.card__image {
  height: 170px;
  position: relative;
  overflow: hidden;
}
.card__image__img {
  width: 100%;
  position: absolute;
  bottom: 0;
}
.card__image__overtext {
  position: absolute;
  top: 8%;
  right: 5%;
  padding: 6px 12px;
  background-color: #99e2d0;
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
  color: #278870;
}
.card__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
  background-color: #fff;
  color: #000;
}
.card__info__title {
  font-size: 16px;
  margin-bottom: 5px;
}
.card__info__text {
  font-size: 16px;
}
.card__info__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  width: 28px;
  height: 28px;
  font-size: 22px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.card__info__icon .empty-heart {
  position: absolute;
  z-index: 2;
  transform: scale(1.1);
  transition-property: transform;
  transition-duration: 800ms;
}
.card__info__icon .filled-heart {
  position: absolute;
  z-index: 3;
  font-size: 0;
}
.card__info__icon:hover .empty-heart {
  color: transparent;
  transition: all 1.6s;
}
.card__info__icon:hover .filled-heart {
  background: -moz-linear-gradient(to bottom, #9356dc, #ff79da);
  background: -webkit-linear-gradient(to bottom, #9356dc, #ff79da);
  background: linear-gradient(to bottom, #9356dc, #ff79da);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition-duration: 800ms;
  font-size: 22px;
}

/*footer*/
#footer {
  background-color: #333333;
  color: #fff;
  padding: 25px;
}

.footer__title {
  font-family: "shrikhand", cursive, sans-serif;
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 25px;
}
.footer__list {
  list-style: none;
}
.footer__list__item {
  margin: 10px 0;
  font-size: 15px;
  font-weight: 500;
}
.footer__list__item:hover {
  text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.4);
}
.footer__list__item i {
  width: 25px;
  font-size: 14px;
}
.footer__list__item a {
  color: #fff;
  text-decoration: none;
}

/*Menus*/
/*header*/
#header {
  position: relative;
}

.back {
  position: absolute;
  display: flex;
  align-items: center;
  height: 100%;
}
.back__icon {
  margin-left: 25px;
  font-size: 20px;
}

/*image*/
.banner {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 245px;
  overflow: hidden;
}
.banner__img {
  width: 100%;
}

/*menu dishes*/
.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  margin-top: -40px;
  padding: 35px 15px 60px 15px;
  border-radius: 40px 40px 0 0;
  background-color: #f2f2f2;
}
.menu__title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 35px;
  padding-left: 10px;
  font-weight: lighter;
}
.menu__title h2 {
  font-family: "shrikhand", cursive, sans-serif;
  font-weight: lighter;
  font-size: 1.7rem;
}
.menu__title__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  width: 28px;
  height: 28px;
  font-size: 22px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.menu__title__icon .empty-heart {
  position: absolute;
  z-index: 2;
  transform: scale(1.1);
  transition-property: transform;
  transition-duration: 800ms;
}
.menu__title__icon .filled-heart {
  position: absolute;
  z-index: 3;
  font-size: 0;
}
.menu__title__icon:hover .empty-heart {
  color: transparent;
  transition: all 1.6s;
}
.menu__title__icon:hover .filled-heart {
  background: -moz-linear-gradient(to bottom, #9356dc, #ff79da);
  background: -webkit-linear-gradient(to bottom, #9356dc, #ff79da);
  background: linear-gradient(to bottom, #9356dc, #ff79da);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition-duration: 800ms;
  font-size: 22px;
}
.menu__dishes {
  font-family: "roboto", sans-serif;
  width: 100%;
  margin-bottom: 35px;
  animation: splash 1100ms normal backwards ease-in-out;
}
.menu__dishes:nth-child(2) {
  animation-delay: 0.3s;
}
.menu__dishes:nth-child(3) {
  animation-delay: 0.6s;
}
.menu__dishes:nth-child(4) {
  animation-delay: 0.9s;
}
.menu__dishes__title {
  width: 40px;
  margin: 0 0 15px 10px;
  padding-bottom: 5px;
  border-bottom: 3px #99e2d0 solid;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: lighter;
}
.menu__btn {
  height: 50px;
  width: 215px;
  padding: 16px 20px 15px 20px;
  border: none;
  border-radius: 25px;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.25);
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  background: linear-gradient(to top left, #9356dc, #ff79da);
  transition-duration: 600ms;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
  transition-duration: 600ms;
}
.menu__btn:hover {
  background: linear-gradient(to top left, #9b63df, #ff88de);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.35);
}

.dish {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  margin: 15px 5px;
  padding: 10px 0 10px 12px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
  transition-duration: 600ms;
}
.dish__info {
  white-space: nowrap;
  overflow: hidden;
}
.dish__info__title {
  font-size: 1.1rem;
  padding-bottom: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dish__info__txt {
  font-size: 0.9rem;
  padding-top: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dish__price {
  display: flex;
  align-items: flex-end;
  height: 100%;
  padding: 0 20px 3px 20px;
  font-size: 0.9rem;
  font-weight: bold;
}
.dish__check {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  right: -70px;
  border-radius: 0 15px 15px 0;
  background-color: #99e2d0;
  color: #fff;
  font-size: 1.5rem;
}
.dish:hover {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.35);
  padding-right: 70px;
}
.dish:hover .dish__check {
  right: 0;
  transition-duration: 600ms;
}

/*tablet design*/
@media screen and (min-width: 768px) and (max-width: 991px) {
  /*index*/
  body {
    min-width: initial;
    max-width: initial;
    width: 100%;
  }

  #operation {
    height: auto;
  }

  .operation__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: auto;
  }
  .operation__item {
    width: 200px;
  }

  .restaurants__cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .card {
    min-width: initial;
    max-width: initial;
    width: 40%;
    margin: 0 0 30px 0;
  }

  /*menus*/
  .banner {
    height: 350px;
    margin: 20px 40px 40px 40px;
    border-radius: 30px;
  }

  .menu {
    margin-top: 0;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 0;
  }
  .menu__dishes__title {
    font-size: 1.1em;
  }

  .dish__info__title {
    font-size: 1.1rem;
  }
  .dish__info__txt {
    font-size: 1rem;
  }
  .dish__price {
    font-size: 1.1rem;
  }
}
/*desktop design*/
@media screen and (min-width: 992px) {
  /*index*/
  body {
    min-width: initial;
    max-width: initial;
    width: 100%;
  }

  #header {
    background-color: #f2f2f2;
    padding: 15px;
    margin-bottom: 15px;
  }

  .header__title {
    margin: 0;
  }

  main {
    display: flex;
    width: 100%;
  }

  #explore-operation {
    width: 30%;
    margin-left: 15px;
  }

  .operation__item {
    height: 60px;
  }
  .operation__title {
    margin-left: 15px;
  }

  #restaurants {
    width: 70%;
    margin: 0 auto;
    padding-top: 15px;
    background-color: initial;
  }

  .restaurants__cards {
    display: flex;
    flex-wrap: wrap;
  }
  .restaurants__title {
    margin-left: 40px;
  }

  .card {
    min-width: initial;
    max-width: initial;
    width: 40%;
    margin-bottom: 40px;
  }
  .card__image {
    display: flex;
    justify-content: center;
    height: 220px;
  }
  .card__image__img {
    width: 130%;
  }
  .card__info {
    padding: 15px;
  }

  /*menus*/
  #header {
    display: flex;
    align-items: center;
  }

  .banner {
    height: 400px;
    width: 60%;
    margin-left: 15px;
    border-radius: 40px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
    transition-duration: 600ms;
  }
  .banner:hover {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.35);
  }
  .banner__img {
    width: 110%;
  }

  .menu {
    width: 40%;
    margin: 0 15px 15px 15px;
    border-radius: 40px;
  }
}

/*# sourceMappingURL=styles.css.map */
